  <div class="box panel panel-default">
	<%= image_tag @pin.image.url %>
  <div class="panel-body">

<p>
  <strong>Description:</strong>
  <%= @pin.description %>
</p>

<%= link_to 'Edit', edit_pin_path(@pin) %> |
<%= link_to 'Back', pins_path %>
